body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.3;
  color: #252931;
}

section {
  padding: 35px 0;
}

.container {
  max-width: 1600px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.section-title {
  font-size: clamp(1.688rem, 1.306rem + 1.69vw, 3rem);
  line-height: 1.3;
  padding-bottom: 25px;
}

.btn {
  padding: 13px 24px;
  color: #fff;
  background: #3498DB;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s;
}
.btn:hover {
  opacity: 0.9;
  text-decoration: none !important;
}
@media (max-width: 480px) {
  .btn {
    padding: 12px 20px;
  }
}

.header {
  padding: 16px 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar__menu {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 768px) {
  .navbar__menu {
    gap: 4px;
  }
}
.navbar__menu-item {
  font-size: clamp(0.875rem, 0.657rem + 0.97vw, 1.625rem);
}
.navbar__menu-item a {
  color: #252931;
}
.navbar__menu-item a:hover {
  text-decoration: underline;
}
@media (max-width: 768px) {
  .navbar__menu-item p {
    display: none;
  }
}
.navbar__menu-item .btn {
  color: #fff;
}
@media (max-width: 480px) {
  .navbar__menu-item.item-tel {
    display: none;
  }
}

@media (max-width: 768px) {
  .logo img {
    width: 120px;
  }
}

.hero__wrapper {
  background: #EFF5F1;
  border-radius: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 10px;
  padding: 80px clamp(1rem, 0.111rem + 3.95vw, 4.063rem) 40px;
  background-image: url(../img/hero-bg.png);
  background-size: 850px;
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 1400px) {
  .hero__wrapper {
    background-size: 600px;
  }
}
@media (max-width: 768px) {
  .hero__wrapper {
    background-image: none;
    padding-top: 40px;
  }
}
.hero__item {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (max-width: 480px) {
  .hero__item {
    align-items: stretch;
  }
}
.hero__title {
  color: #252931;
  font-size: clamp(1.25rem, 0.597rem + 2.9vw, 3.5rem);
  line-height: 1.3;
  text-transform: uppercase;
}
.hero__subtitle {
  padding: 10px 0 20px;
  font-size: clamp(1.125rem, 0.871rem + 1.13vw, 2rem);
  line-height: 1.3;
  color: #8FD831;
}
.hero__btn {
  background: #8FD831;
}
.hero__img {
  position: relative;
  right: 0px;
  bottom: -60px;
  scale: 1.3;
}
.hero__img img {
  max-width: 100%;
  width: 100%;
}
@media (max-width: 768px) {
  .hero__img {
    display: none;
  }
}

.hero-2 {
  margin-top: clamp(3.125rem, 1.31rem + 8.06vw, 9.375rem);
}
@media (max-width: 992px) {
  .hero-2 {
    margin-top: 0;
  }
}
.hero-2 .hero__wrapper {
  align-items: center;
  padding: 40px;
  background-image: none;
}
@media (max-width: 480px) {
  .hero-2 .hero__wrapper {
    padding: 40px 20px;
  }
}
.hero-2 .hero__subtitle {
  color: #252931;
  padding: 20px 0;
}
.hero-2 .hero__img {
  position: relative;
  right: 0px;
  top: -200px;
  bottom: 0px;
  scale: 1;
  height: clamp(0rem, -27.533rem + 44.41vw, 16.875rem);
}
@media (max-width: 1400px) {
  .hero-2 .hero__img {
    top: -50px;
  }
}
.hero-2 .hero__img img {
  max-width: 100%;
  width: 100%;
}
@media (max-width: 768px) {
  .hero-2 .hero__img {
    display: none;
  }
}
.hero-2 .hero__btn {
  background: #3498DB;
}

.grid {
  padding-top: 50px;
}
@media (max-width: 480px) {
  .grid {
    padding-top: 30px;
  }
}
.grid__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px 20px;
  padding-top: 20px;
}
@media (max-width: 768px) {
  .grid__wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 480px) {
  .grid__wrapper {
    grid-template-columns: 1fr;
  }
}
.grid__item {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
  color: #252931;
}
.grid__item-img {
  max-width: 100%;
  width: 100%;
  border-radius: 12px;
}
.grid__item-title {
  font-weight: 600;
  font-size: clamp(1.5rem, 1.464rem + 0.16vw, 1.625rem);
  text-decoration: underline;
  line-height: 1.3;
}
.grid__item-text {
  font-size: clamp(1rem, 0.964rem + 0.16vw, 1.125rem);
}
.grid__item-price {
  font-size: 32px;
  color: #8FD831;
  font-weight: 700;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  padding: 15px 0 10px;
}
.grid__item-price span {
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  font-size: 20px;
  color: #D2D2D2;
}
.grid__item-btn {
  background: #252931;
}

.about__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 100px;
}
@media (max-width: 968px) {
  .about__wrapper {
    gap: 30px;
  }
}
@media (max-width: 768px) {
  .about__wrapper {
    flex-direction: column;
  }
}
.about__text {
  max-width: 790px;
  font-size: clamp(0.875rem, 0.802rem + 0.32vw, 1.125rem);
}
.about__img img {
  max-width: 100%;
  width: 100%;
  border-radius: 30px;
  display: block;
  margin-left: auto;
}

.footer {
  margin-top: clamp(3.125rem, 1.31rem + 8.06vw, 9.375rem);
  background: #171A1F;
}
.footer__wrapper {
  padding: 40px 0 80px;
}
.footer__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin-top: 20px;
}
.footer__item a {
  text-decoration: underline;
}
.footer__text {
  color: #fff;
  font-size: clamp(0.875rem, 0.263rem + 0.99vw, 1.25rem);
}
.footer__text.policy {
  color: #8FD831;
}

.tabs {
  width: 100%;
}
.tabs__header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px 12px;
}
@media (max-width: 480px) {
  .tabs__header {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
}
.tabs__header-item {
  cursor: pointer;
}
.tabs__header-item.active {
  color: #252931;
  background: #ECECEC;
}
.tabs__content {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tabs__content-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contact-form {
  max-width: 100%;
  min-width: 50%;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
.contact-form label {
  padding-bottom: 4px;
}

input[type=text], textarea {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  outline: none;
  max-width: 100%;
  margin-bottom: 12px;
  border: 2px solid #252931;
  border-radius: 12px;
  padding: 10px 18px;
  transition: all 0.4s;
}
input[type=text]::-moz-placeholder, textarea::-moz-placeholder {
  color: #fff;
}
input[type=text]:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #fff;
}
input[type=text]::placeholder, textarea::placeholder {
  color: #fff;
}

input[type=text]:focus, textarea:focus {
  transition: all 0.4s;
}

button[type=submit] {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  border: none;
  cursor: pointer;
  color: #fff;
}

button[type=submit]:hover {
  color: #FFF;
}

button[type=submit]:active {
  transition: all 0.2s;
  top: 3px;
}

button[type=submit]:focus {
  position: relative;
  transition: all 0.2s;
  outline: none;
}

.modal {
  position: relative;
  max-width: 650px;
  width: 100%;
  margin: 0 auto;
}
.modal__wrapper {
  width: 100%;
  height: auto;
  border-radius: 10px;
  background: #fff;
  padding: clamp(0.75rem, 0.151rem + 2.66vw, 2.813rem);
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.modal__btn {
  cursor: pointer;
}
.modal__title {
  font-weight: 500;
  font-size: clamp(1.125rem, 1.016rem + 0.48vw, 1.5rem);
}
.modal__pretitle {
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 8px;
}
.modal__content-inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 12px;
  margin: 15px 0;
}
@media (max-width: 480px) {
  .modal__content-inner {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
}
.modal__text {
  font-size: 14px;
}
.modal__policy {
  padding-top: 30px;
}
@media (max-width: 480px) {
  .modal__policy {
    font-size: 14px;
  }
}
.modal__policy a {
  color: #8FD831;
}/*# sourceMappingURL=style.css.map */